/* userDashboard--container flex flex-col h-[fit-content] gap-[70px] tablet:py-[70px] px-[20px] w-[1100px] mx-auto bg-red-200 */

.userDashboard--container {
  height: fit-content;
  gap: 70px;
  width: 80vw;
  margin: 0 auto 0 auto;
}

@media (max-width: 469px) {
  .userDashboard--container {
    padding-top: 20px;
  }
}

@media (min-width: 470px) {
  .userDashboard--container {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
  }
}
