/* TOGGLE FORM AND CIRCLE POSITION */

.tg {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 85px;
    height: 35px;
    padding: 3px;
    background-color: white;
    border-radius: 33px;
}

.tg.on {
    justify-content: flex-end;
}
.tg.off {
    justify-content: flex-start;
}

/* TOGGLE CIRCLE */

.tg-circle {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    /* background-color: #ff0000; */
}
.tg-circle.main {
    background-color: #F69FAB;
}
.tg-circle.child {
    background-color: #FFE7A0;
}
.tg-circle.off {
    background-color: #DEDEDE;
}