@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --SosTagBlue: #19224f;
  --SosTagYellow: #ffce40;
  --SosTagYellowLight: #ffe7a0;
  --SosTagRed: #ec3e55;
  --SosTagRedLight: #f69fab;
  --SosTagBackground: #f9f9f9;
  --SosTagGrey: #dedede;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--SosTagBackground);
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 45px;
  font-family: "Source Sans Pro";
  color: var(--SosTagBlue);
}

h2 {
  font-size: 25px;
  line-height: 25px;
}

.semiBoldText {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: var(--SosTagBlue);
}

.prenom {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  color: var(--SosTagBlue);
}

.nom {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  text-transform: uppercase;
  color: var(--SosTagBlue);
}

[type="checkbox"] {
  width: 22px;
  height: 22px;
}

.toggle {
  transform: translate(-100%, -50%);
  left: calc(100% - 3px);
  transition: 0.5s;
}
.off {
  transform: translate(0, -50%);
  left: 3px;
  background-color: var(--SosTagGrey);
}

.MedicalFormContainer {
  margin : 5% 10vw;
  padding: 0 10px;
}

.ContactCard {
  background-color: var(--SosTagYellowLight);
  box-shadow: rgba(24, 33, 78, 0.1) 5px 5px 20px;
  padding: 1rem;
}

.noFlex {
  width: 100vw;
  height: 100%;
  display: initial;
}

.formSectionHeader {
  display: flex;
  margin-bottom: 20px;
}

.MedicAside {
  width: 100vw;
  background-color: white;
  /* max-height: 400px; */
  text-align: center;
  box-shadow: rgba(24, 33, 78, 0.1) 5px 5px 20px;
  margin: 20px auto;
  padding: 20px 10vw;
}

.formRowMedic {
  grid-template-columns: [first] 0% [line2] 47% [line3] 6% [line4] 47% [line5] auto [end];
}

.formRowMedic-item-a {
  grid-column-start: line2;
  grid-column-end: line5;
}

.formRowMedic-item-b {
  grid-column-start: line2;
  grid-column-end: line5;
}

.formRowMedic-subtitle {
  /* margin-bottom: 20px; */
}

.MedicalFormContainer > form > button {
  margin: 5% auto;
}

.emergencyContact-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 469px) {
  h1,
  h2 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 45px;
    font-family: "Source Sans Pro";
    color: var(--SosTagBlue);
  }

  h2 {
    font-size: 1.5rem;
    line-height: 25px;
  }

  .SignUpPageTitle {
    width: 70vw;
    /* margin-left: 10vw; */
  }

  .SignUpPageCheckbox {
    width: 80vw;
    /* margin-left: 10vw; */
  }

  .AlternativText {
    margin: auto;
  }

  .formRowMedic-subtitle {
    margin-bottom: 20px;
  }  

  .SignInPageIllustration {
    display: none;
  }

  .SignUpPageContent, .signinform {
    width: 80vw;
    margin: auto;
  }
}

@media (min-width: 470px) {
  .SignUpPageRow {
    grid-template-columns: [first] 0% [line2] 35% [line3] 10% [line4] 35% [line5] auto [end];
  }

  .SignUpPageRow-item-a {
    grid-column-start: line2;
    grid-column-end: line3;
  }

  .SignUpPageRow-item-b {
    grid-column-start: line4;
    grid-column-end: line5;
  }

  .SignInPageIllustration {
    display: none;
  }

  .signinform {
    margin: 5vh auto auto auto;
  }
}

@media (min-width: 1280px) {

  .SignInPageIllustration {
    display: block;
  }

  .signinform {
    margin: 0;
  }

  .formRowMedic {
    grid-template-columns: [first] 0% [line2] 47% [line3] 6% [line4] 47% [line5] auto [end];
  }

  .formRowMedic-item-a {
    grid-column-start: line2;
    grid-column-end: line3;
  }

  .formRowMedic-item-b {
    grid-column-start: line4;
    grid-column-end: line5;
  }

  .MedicalFormContainer {
    background-color: white;
    margin: 3% auto;
    max-width: 40%;
    padding: 2rem 6rem 2rem 2rem;
    border-radius: 20px;
    box-shadow: rgba(24, 33, 78, 0.1) 5px 5px 20px;
    height: auto;
    position: relative;
    /* bg-white mt-[2%] ml-[20%] w-1/3 px-[50px] py-[20px] rounded-3xl drop-shadow-md h-auto */
  }

  .ContactCard {
    width: 70%;
    /* margin: 0 22% 0 0; */
    background-color: var(--SosTagYellowLight);
    /* z-index: 50; */
    padding: 2rem;
    border-radius: 20px;
    box-shadow: rgba(24, 33, 78, 0.1) 5px 5px 20px;
    position: absolute;
    bottom: 0;
    right:0;
    margin-right: -60%;
  }

  .MedicAside {
    width: 20%;
    max-width: 20rem;
    background-color: white;
    /* max-height: 400px; */
    text-align: center;
    border-radius: 20px;
    box-shadow: rgba(24, 33, 78, 0.1) 5px 5px 20px;
    margin: 3% 8%;
    padding: 2%;
    position: absolute;
    z-index: 2;
  }

  .noFlex {
    width: 100vw;
    height: 100%;
    display: initial;
  }
}